.myHackathonDataPara {
    border: 2px solid #8c59ff;
    min-height: 100px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1rem;
    color: rgb(97, 91, 91);
    font-weight: normal;
    min-width: 320px;
    max-width: 1200px;
    margin: 1rem auto;
}

.myHackathonDataPara:hover {
    background-color: #8c59ff;
    color: #ffffff;
    box-shadow: 0 2px 3px #ccc;
}